<!-- <a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a> -->
<a href="{{ "/myPages/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/myPages/cpp" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">C++</h2></a>
<a href="{{ "/myPages/csapp" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CSAPP</h2></a>
<a href="{{ "/myPages/dev" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Develop</h2></a>
<a href="{{ "/myPages/unix" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">UNIX</h2></a>
<a href="{{ "/myPages/math" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Maths</h2></a>