<!-- <a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a> -->
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/math" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Maths</h2></a>
<a href="{{ "/cpp" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">C++</h2></a>
<a href="{{ "/csapp" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CSAPP</h2></a>
<a href="{{ "/unix" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">UNIX</h2></a>
